{
    // this configuration is going to have the values that we install before.
    "presets" : [
        "@babel/preset-env", // work from ES6 to the Actual
        "@babel/preset-react" // is going to work with jsx and all the sintax in the library
    ],
    "plugins": [
        "@babel/plugin-transform-runtime" // is going to helping us handeling the async/await request
    ]
}